[Desktop Entry]
Encoding=UTF-8
Name=Neural Switcher for Linux
Name[ru]=Переключатель раскладок клавиатуры
Comment=Gnome Neural Switcher
Comment[ru]=Интеллектуальный переключатель раскладок клавиатуры
Comment[ua]=Інтелектуальний перемикач клавіатури
Exec=gxneur
Icon=gxneur
Terminal=false
Type=Application
Categories=Application;Utility;X-Red-Hat-Base;
StartupNotify=true
X-Desktop-File-Install-Version=0.10
