[Unit]
Description=IP over ICMP tunneling solution. Client
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/hans-client
ExecStart=/usr/sbin/hans $OPTIONS

[Install]
WantedBy=multi-user.target
